.header {
    padding-top: 3%;
    padding-bottom: 5%;
}

.header h1 {
    font-size: 5vw;
}

.table-responsive {
    display: table;
}

#borderimgleft {
    padding: 0.2%;
    margin-left: 1.1%;
    margin-top: 1%;
    background-color: rgb(231, 27, 54);
}

#borderimgright {
    padding: 0.2%;
    margin-right: 1.1%;
    margin-top: 1%;
    background-color: rgb(231, 27, 54);
}

#bordertablecell {
    border: 3px solid rgb(15, 13, 13);
}

#bordertablecellinner {
    border: 3px solid rgb(15, 13, 13);
}